.App {
  /* margin: -8px; */
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, .4);
  color: aliceblue;
}

.App:before {
  content: '';
  background-image: url('nature.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {

  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
}

.search{
  display: flex;
  gap: .5rem;
  align-items: center;
}
.displaySearch {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: .35rem;
  max-height: 20px;
  
 
}

button{
  padding: .5rem;
  background-color: rgba(180, 139, 210, 0.368);
  border-radius:10px ;
  width: 60px;
  border-style: none;
  color: antiquewhite;
  transition: 400ms;
}
button:hover{
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.176);
  
}


#search {
  border-radius: 2rem;
  padding: .35rem;
  border-style: none;
  background-color: rgba(0, 0, 0, .3);
  color: antiquewhite;
  font-size: large;
}

.cont {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: baseline !important;
 

}
@media(min-width:1024px){
  .displaySearch{
    margin-bottom: 40%;
  }
}
.second_cont{
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 10%;
  font-size: larger;
  color: rgb(235, 210, 143);
  margin-top: 10%;
}
@media(max-width:1024px) {
  .App{
    min-height: 100vh;
    height: fit-content;
   
  }
  .cont {
   margin-top: 10%;
  
  }
  
  .container {
    display: grid;
    grid-template-columns: 100%;
  }
  .displaySearch{
    margin-bottom: 25%;
  }
 .temps{
  display: flex;
  gap:1rem
 }
  
 .second_cont{
  
  margin-top: 10%;
  

}


}